{% extends 'base.html' %}
{% block content %}
{% load static %}
    챗봇에 연결하려면 버튼을 누르세요.<br>
    <input id="room-name-input" type="hidden" value="chatbot" size="100"><br>
    <input id="room-name-submit" type="button" value="챗봇 연결">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = roomName + '/';
        };
    </script>
{% endblock %}