<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <div class="container">
        <div class="background">
            <div class="chatbot-container">
                <div class="header"></div>

                <div id="chattingPanel">

                </div>
                <div class = input-text-border>
                    <input id="chat-message-input" type="text" size="100" placeholder = "궁금한 것을 물어보세요."><br>
                    <input id="chat-message-submit" type="button" value="Send">
                </div>
            </div>
        </div>
    </div>


    {{ room_name|json_script:"room-name" }}
    <script>
    function type_test(text)
    {
      var bool = false;
      if (text == 'question')
      {
        bool = true;
      }
      return bool;
    }

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            test = type_test(data.type)

            if (test == true)
            {
              var $div = document.createElement('div');
              $div.setAttribute('class', 'chat-message-right')
              $div.innerHTML = data.message;
              document.getElementById("chattingPanel").appendChild($div);
            }
            else
            {
              var $div = document.createElement('div');
              $div.setAttribute('class', 'chat-message-left')
              $div.innerHTML = data.chatbot_message;
              document.getElementById("chattingPanel").appendChild($div);
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
