<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <div class="container">
        <div class="background">
            <div class="chatbot-container">
                <div class="header"></div>

                <div id="chattingPanel">

                </div>
                <div class = input-text-border>
                    <input id="chat-message-input" type="text" size="100" placeholder = "궁금한 것을 물어보세요."><br>
                    <input id="chat-message-submit" type="button" value="보내기">
                </div>
            </div>
        </div>
    </div>


    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        // 웹 소켓 연결
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        //웹 소켓 연결 시 이벤트(Welcome message)
        chatSocket.onopen = function(e) {
            chatSocket.send(JSON.stringify({
                'message': 'postback text of welcome action'
            }));
        }

        // 웹 소켓에서 신호 받을 시 이벤트
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            var $div = document.createElement('div');
            $div.setAttribute('class', 'chat-message-left');
            $div.innerHTML = data.message;
            document.getElementById("chattingPanel").appendChild($div);
        };

        // 웹 소켓 연결 해제 시 이벤트
        chatSocket.onclose = function(e) {
            var $div = document.createElement('div');
            $div.setAttribute('class', 'chat-message-left');
            $div.innerHTML = "연결이 중단 되었습니다."
            document.getElementById("chattingPanel").appendChild($div);
        };

        // Text-input에서 엔터 키 입력 시 Submit 클릭으로 연결
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        // 메시지 보내기 버튼 클릭 또는 엔터 키 입력 시 JSON 파일 서버로 Send
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            // 사용자 입력 메시지 출력
            var $div = document.createElement('div');
            $div.setAttribute('class', 'chat-message-right')
            $div.innerHTML = message;
            document.getElementById("chattingPanel").appendChild($div);

            // 웹소캣에 메시지 전송
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
